#include ".colors/base16-railscasts.dark.256.xresources"

! Xft
Xft.dpi:           96
Xft.antialias:     true
Xft.rgba:          rgb
Xft.hinting:       true
Xft.hintstyle:     hintslight

! URxvt
URxvt.termName: rxvt-unicode-256color
URxvt.perl-ext-common: default,matcher,clipboard,osc-xterm-clipboard,clipb$
URxvt*font: xft:Hack:regular:pixelsize=12:antialias=true:hinting=true
URxvt*boldfont: xft:Hack:bold:pixelsize=12:antialias=true:hinting=true
URxvt*letterSpace: -1
URxvt*scrollBar: false

URxvt.allow_bold: true
URxvt.transparent: true
URxvt.shading: 8
URxvt.iso14755 : false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.internalBorder: 12
URxvt.externalBorder: 0


! Rofi
rofi.color-normal: #1d1f21, #ffffff, #1d1f21, #ffffff, #1d1f21
rofi.color-urgent: #1d1f21, #cc6666, #1d1f21, #cc6666, #1d1f21
rofi.color-active: #1d1f21, #81a2be, #1d1f21, #81a2be, #1d1f21
rofi.color-window: #1d1f21, #ffffff
rofi.width: 200
rofi.padding: 300
rofi.fullscreen: true
rofi.bw: 0
rofi.lines: 10
rofi.opacity: 90
rofi.separator-style: dash
