! Color scheme
#include ".colors/base16-railscasts.dark.256.xresources"

! Xft
Xft.dpi:           96
Xft.antialias:     true
Xft.rgba:          rgb
Xft.hinting:       true
Xft.hintstyle:     hintslight

! URxvt
URxvt.termName: rxvt-unicode-256color
URxvt.perl-ext-common: default,matcher,clipboard,osc-xterm-clipboard
URxvt*font: xft:Hack:regular:pixelsize=12:antialias=true:hinting=true
URxvt*boldfont: xft:Hack:bold:pixelsize=12:antialias=true:hinting=true
URxvt*letterSpace: -1
URxvt*scrollBar: false

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold
URxvt.allow_bold: true
URxvt.transparent: true
URxvt.shading: 20
URxvt.iso14755 : false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.internalBorder: 12
URxvt.externalBorder: 0


! Rofi
rofi.color-enabled: true
rofi.color-window: base03, base03
! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: base03,  base06,  base03,  base02,  base06
rofi.color-urgent: base03,  base06,  base03,  base02,  base06
rofi.color-active: base00,  base06,  base03,  base02,  base06
rofi.columns: 1
rofi.width: 40
rofi.padding: 340
rofi.font: San Francisco System Display Light 26
rofi.fullscreen: true
rofi.bw: 0
rofi.lines: 10
rofi.terminal: /usr/bin/urxvt
rofi.opacity: 80
rofi.separator-style: none
